<ul>
  <li><%= link_to "Página inicial", root_path %></li>
  <li><%= link_to "Clientes", clientes_path %></li>
  <li><%= link_to "Restaurantes", restaurantes_path %></li>
  <li><%= link_to "Qualificações", qualificacoes_path%></li>
</ul>
